@import "config";
.lectures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  margin-left: -($gutter/2);
  margin-right: -($gutter/2);
  max-width: $max-width;
}
.lecture {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: ($gutter/2);;
  padding-left: ($gutter/2);
  margin-bottom: $gutter;
  @media (min-width: 504px){
    width: 50%;
  }
  @media (min-width:810px ) {
    width: 33.33%;
  }

  &__image{
    height: 80%;
  }
  &__info{
    height: 20%;
    background-color: $Grey;
  }

}
.buttons{
  display: flex;
  justify-content: center;
}
.buttons button{
  border-radius: 5px;
  margin: 20px;
  height: 40px;
  width: 60px;
}
.untoggled{
  background-color: $Grey;
}
.toggled{
  background-color: $lightGreen;
}
