@import "config";

.content{
    max-width: 795px;
    margin: auto;
    
    &__text{
        margin: 20px 0;
    }
    &__quote{
        margin: 20px 0;
    }
}
iframe{  
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
}
.lctButtons{
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__done{
        height: 30px;
        width: 100px;
        background-color: $Grey;
        border-radius: 2px;
        margin: 20px auto;
    }
    &__back{
        height: 30px;
        width: 100px;
        background-color: $Grey;
        border-radius: 2px;
        margin: 20px auto;
    }
}