@import "config";

.header{
  background-image: image('./img/header.jpg');
  width: 100vw;
  height: 50vh;

  &__p{
    padding-bottom: 1rem;
    text-transform: uppercase;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  &__h2{
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

