@import "config";



.header{
  background-color: rgba(255, 255, 255, 0.6);
  background-image: url("../img/header.jpg");
  background-blend-mode:screen;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  @media(max-width: 1200px){
    height: 40vh;
  }
  @media(max-width: 1000px){
    height: 30vh;
  }
  @media(max-width: 800px){
    height: 20vh;
  }
  &__title {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  }
  p {
    padding-bottom: 1em;
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
    margin-top: auto;
    font-family: 'Roboto Mono', monospace;
  }

  h2{
    font-size: 3em;
    margin-bottom: auto;
    font-family: 'Roboto Mono', monospace;
  }
}
